@use 'cores';

.future {

    .container {
        padding: 40px;
        text-align: center;
        background-color: cores.$corSecundaria;
        color: cores.$corPreta;

        .date {
            font-size: large;
            text-decoration: underline;
        }
    }
}

.past {

    .container {
        padding: 35px;
        text-align: center;
        background-color: cores.$corTerciaria;
        color: cores.$corPreta;

        .date {
            font-size: large;
            text-decoration: underline;
        }
    }
}