@use './components/_cores';
@use './components/past';
@use './components/future';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: cores.$corPrincipal;
    font-size: 23px;
}

.Title {
    padding: 16px;
    justify-content: center;
    display: flex;
    color: cores.$corBranca;
    background-color: cores.$corQuaternaria;
    border-bottom: 4px solid cores.$corPreta;
    text-transform: uppercase;
}

section {
    border-bottom: 3px solid cores.$corPreta;
    font-weight: bold;
    font-family: sans-serif;
}